<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
    <title>Login</title>
  <!-- Favicon -->
  <link rel="icon" th:href="@{/assets/img/brand/favicon.png}" href="assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" th:href="@{/}" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" th:href="@{/assets/vendor/nucleo/css/nucleo.css}" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" th:href="@{/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" th:href="@{/assets/css/argon.css}" href="assets/css/argon.css" type="text/css">
</head>
<body marginwidth="0" marginheight="0">

   <div class="col-md-4">
       <a th:href="@{/home}">
      <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="false">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Your attention is required. Error: -
                  <span th:text="${status}"></span>

                </h6>
                <a th:href="@{/home}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button></a>
            </div>
            
            <div class="modal-body">
              <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 th:text="${error}" class="heading mt-4"></h4>
                    <p th:text="${message}"></p>
                </div>
              </div>
            
            <div class="modal-footer">
                <a th:href="@{/home}">
                <button type="button" class="btn btn-white text-blue ml-auto" data-dismiss="modal">Ok, Got it</button></a>
            </div>
          </div>
        </div>
      </div></a>
      </div>



<!-- Core -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}" type="text/javascript" src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">$(window).on('load', function() {$('#myModal').modal('show');});</script>
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}" type="text/javascript" src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/vendor/js-cookie/js.cookie.js}" type="text/javascript" src="assets/vendor/js-cookie/js.cookie.js"></script>
<script th:src="@{/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js}" type="text/javascript" src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script th:src="@{/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}" type="text/javascript" src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}" type="text/javascript" src="assets/vendor/chart.js/dist/Chart.min.js"></script>
<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}" type="text/javascript" src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script th:src="@{/assets/js/argon.js?v=1.2.0}" type="text/javascript" src="assets/js/argon.js?v=1.2.0"></script>
</body>

</html>