
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
 <title>Register</title>
 <!-- Fonts -->
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700}">
  <!-- Icons -->
  <link rel="stylesheet" th:href="@{/assets/vendor/nucleo/css/nucleo.css}" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" th:href="@{/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" th:href="@{/assets/css/argon.css}" href="assets/css/argon.css" type="text/css">
</head>

<body class="bg-default">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mr-auto">
          

          <li class="nav-item">
            <a th:href="@{/login}" class="nav-link">
              <span class="nav-link-inner--text">Login</span>
            </a>
          </li>
        </ul>
        <hr class="d-lg-none" />
        
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Create an account</h1>
              <p class="text-lead text-white">Please enter you credendials to register.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
           
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign up with credentials</small>
              </div>
               <form role="form" th:object="${userForm}" th:action="@{/register}" method="post">
                
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="firstName" id="firstName" placeholder="First Name" type="text">

                  </div>
                  <div th:if="${#fields.hasErrors('firstName')}" >
                      <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-color="danger" data-placement="top" data-content="firstName length should be 5 - 26 characters."> First name input error!! 
                      </button>
                    </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="lastName" id="lastName" placeholder="Last Name" type="text">
                  </div>
                    <div th:if="${#fields.hasErrors('lastName')}" >
                      <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-color="danger" data-placement="top" data-content="Last Name length should be 5 - 26 characters."> Last name input error!! 
                      </button>
                    </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" name="username" id="username" placeholder="username" type="email">
                  </div>
                  <div th:if="${#fields.hasErrors('username')}" >
                      <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-color="danger" data-placement="top" data-content="username length should be 5 - 26 characters."> Username input error!! 
                      </button>
                    </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" name="password" id="password" placeholder="Password" type="password">
                  </div>
                  <div th:if="${#fields.hasErrors('password')}" >
                      <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-color="danger" data-placement="top" data-content="password length should be 5 - 26 characters."> Password input error!! 
                      </button>
                    </div>
                </div>

                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                      </label>
                    </div>
                  </div>
                </div>

                   <div class="text-center">
                  <button type="submit" value="Register" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-6 text-right">
              <a th:href="@{/login}" class="text-light"><small>Login</small></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Core -->
  <script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
  <script th:src="@{/assets/vendor/js-cookie/js.cookie.js}" type="text/javascript"></script>
  <script th:src="@{/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js}" type="text/javascript"></script>
  <script th:src="@{/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}" type="text/javascript"></script>
  <!-- Argon JS -->
  <script th:src="@{/assets/js/argon.js?v=1.2.0}"></script>
</body>

</html>